html{
  height: 100%;
}
body{
	font-family: arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: #ccc;
	min-height: 100%;

}
/*
*
*
Estilo para o conteudo do nosso site
*
*
*/
html,body{
	height: 100%;
}
.teste,.teste1,.teste2{
	width: 300px;
	margin-top: 30px;
	margin-left: 30px;
	display: inline-block;
	height: 30px;
	}
.parent{
	background-color: #069;
	width: 100%;
	padding: 90px 0;
	text-align: center;
}
.item{
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: green;
	margin: 20px 0;
}
 
 

/*

.parent p:first-child{
	color: red;
}


Formulas: Estamos dizendo que a cada 2 elemento aplique o estilo, incluindo e 3!
.parent div:nth-of-type(2n + 1) > div.item{
	background-color: red;
}


	background-color: #333;
	
}
.teste1{
	background-color: rgb(98,98,98);
}
.teste2{
	background-color: rgb(150,150,150);
}

/*
.teste:hover{
	height: 900px;
	background-color: rgb(300,300,300);
}

.teste:hover ,.teste1,.teste2{
	vertical-align: top;
}

acteve serve para quando o mouse esta clicado em cima
.teste:active{
	background-color: red;

focus serve para quando clicamos e focamos o nossa elemento do formulario.
.teste:focus{
	background-color: red;
}
.textarea1{
	display: block;
	width: 600px;
	height: 400px;
}


visited serva para mudar a cor do link visitado
.link1:visited{
	color: blue;
}

link serve para mudar a cor do link "quando nao visitado ou quando esta com visited desabilitado"
.link1:link{
	color: red;
}

ul{
	list-style: inside;
}

De acordo com o tipo do elemento
ul li:nth-of-type(2){
color: red;
}

De acordo com os filhos
ul li:nth-child(3){
	color: red;
}


.box{
	width: 100%
}
.box > div{
	box-sizing: border-box;
	float: left;
	width: 33.33%;
	height: 400px;
	background-color: red;
	border: 1px solid black;
}

.p::after{
	content: "Thiago";
	background-color: red;
}
.p::before{
	content: "Mercelo"

}
/*


p:empty{
	width: 700px;
	height: 700px;
	background-color: orange
}

Negação! Aplique o estipo para as divs que não tenha a classe ONE
.box > div:not(.one){
	background-color: gold
}



.box div:last-child p{
	color: rgba(255,255,255,1);
}


Pegando o mesmo elemento do mesmo tipo
.box div:last-of-type, .box p:last-of-type{
	background-color: green;
}
*/

