			
/*cabecario*/
#cabecario {
	color:#836FFF;
}
#cabecario h1 {
	color:#DAA520;
	border-bottom: 1px solid #ccc;
}
/*cachoeira*/
#cachoeira {
	color:#008000;
}
/*soubento*/
#saobento {
	color:#800000;
}
/*cristais*/
#cristais {
	color:#0000FF;		
}
/*vendinha*/
#vendinha {
	color:#0000FF;
}